@import "twitter/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$black: #444444;

.body{
color: $black;
background-color: rgb(246, 246, 246);
font-size: 16px;
}

h1{
	color: $black;
}


.container{
	width:1080px;
	margin: 0 auto;
}

#brand{
	font-size: 24px;
}
.post {
position: relative;
max-width: 600px;
display:block;
box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px;
background-color: #ffffff;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 0 0 35px 0;
color: rgba(0, 0, 0, 0.9);
font-size: 15px;
padding: 10px;
}

.form-box{
	margin-top: 200px;
	max-width: 300px;
}

.categories{
	margin-top: 100px;
	max-width: 300px;
	list-style: none;
	padding-right:40px;
	hr{
		margin:0 5px;
	}

}

.index{
	hr{
		margin: 10px 0;
		padding-right:40px;
	}
	
}

.post-form{
	width: 100%;
	min-height: 100px;
}

ul {
	list-style: none;
}

.dark-line{
	border: solid 2px black;
	display: block;
	margin: 40px 0;
}

.light-line{
	border: solid 1px black;
	display: block;
	margin: 10px 0 30px 0;

}

/*Bootstrap modifications*/
a {
color: #9a1f24;
text-decoration: none;
	&:hover{
	color: #660000;
	}
}

.navbar-default{
	background-color: #9a1f24;
	height: 40px;
}


.navbar-nav > li > a {
color: rgba(255, 255, 255, 0.95) !important;
}

.navbar-brand {
color: rgba(255, 255, 255, 0.95) !important;
}

h3 a {
	font-family: 'PT Serif', Georgia, serif;
}

